<%= simple_form_for [@book,@entry] do |f| %>

  <div class="field">
    <%= f.input :title %>
  </div>

  <div class="field">
    <%= f.input :body %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
